{# Implement base html template #}
{% extends 'base.html' %}

{# Load up the files that you'll be needing #}
{% load bootstrap3 %}

{# Overwrite tab title #}
{% block head_title %}Blix | Create Category{% endblock %}

{% block content %}
    <h2>Create Category</h2>

    {# Start the form #}
    <form action="/blog/create_category/" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if throw_duplicity_error %}
            {% bootstrap_alert alert_type="danger" content="That category already exists." %}
        {% endif %}
        {% buttons %}
            <button type="submit" class="btn btn-default">
                Create Category
            </button>
        {% endbuttons %}
    </form>
{% endblock %}