{# Implement base html template #}
{% extends 'base.html' %}

{# Create Tab title #}
{% block head_title %}Blix | Home{% endblock %}

{# Content container code #}
{% block content %}

    {# List the Blog categories #}
    <h2>Categories</h2>
    {% if categories %}

        {# Category table (list) #}
        <table class="table table-hover">

            {# The heading labels for the table. #}
            <thead>
                <th>Title</th>
            </thead>

            {# The table contents. #}
            <tbody>

                {# For every category, fill in a row of the table #}
                {% for category in categories %}

                    {# Make the entire table row clickable #}
                    <tr class="row-link" href="{{ category.get_absolute_url }}">
                        <td>{{ category.title }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no categories.</p>
    {% endif %}

    {# List the Blog posts #}
    <h2>Posts</h2>
    {% if posts %}

        {# Post table (list) #}
        <table class="table table-hover">

            {# The heading labels for the table. #}
            <thead>
                <th>Title</th>
                <th>Category</th>
                <th>Date Created</th>
            </thead>

            {# The table contents. #}
            <tbody>

                {# For every post, fill in a row of the table #}
                {% for post in posts %}

                    {# Make the entire table row clickable #}
                    <tr class="row-link" href="{{ post.get_absolute_url }}">
                        <td>{{ post.title }}</td>
                        <td>{{ post.category.title }}</td>
                        <td>{{ post.posted }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

    {# List the Users (For now) #}
    <h2>Users</h2>
    {% if users %}
        {# Post User (list) #}
        <table class="table table-hover">

            {# The heading labels for the table. #}
            <thead>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
            </thead>

            {# The table contents. #}
            <tbody>

                {# For every user, fill in a row on the table #}
                {% for user in users %}

                    {# Make the entire row clickable #}
                    <tr class="row-link" href="{{ user.get_absolute_url }}">
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no users.</p>
    {% endif %}

{% endblock %}